<div class="w-full h-screen flex flex-col static">

  <!-- bg picture -->
  <%#= image_tag "wave_figure.png", size:"816x728", class: "absolute z-10 w-bgp h-bgp inset-y-0 right-0 px-1 mr-24 opacity-50" %>

  <!-- header -->
  <div class=" flex justify-start items-center py-6 pl-24">
    <div class="py-4 px-10">
      <a href="/" class="font-sans text-2xl text-bright-deep-blue font-bold italic underline-offset-8 hover:underline ">
        TrinityWeb
      </a>
    </div>
    <div class="py-4 px-10">
      <a href="/request/new" class="font-sans  place-self-center text-l text-gray-500 font-semibold underline-offset-8 hover:underline">
        Поиск документа </a>
    </div>
  </div>

  <div class="italic text-xl text-gray-700 mx-32 pt-2 mb-4 border-t-2 border-bright-deep-blue">
    Вы выбрали документ:
  </div>


  <!-- page body -->
  <div class="flex flex-col px-32 z-10">
      <!-- ИСКИ -->
    <% case @doc_type %>
    <% when 1,2 %>
      <%= render '/documents/isk',object: @doc_type %>

      <!-- АККРЕДИТИВ -->
    <% when 3 %>
      <%= render '/documents/akkreditiv',object: @doc_type %>

      <!-- ПРЕСТУПЛЕНИЕ -->
    <% when 4 %>
      <%= render '/documents/prestuplenie',object: @doc_type %>

      <!-- ИСК ПОСТАВКИ -->
    <% when 5 %>
      <%= render '/documents/isk_postavki', object: @doc_type %>

    <% else  %>
      <div>
        <% render :update, '/public/404.html' %>
      </div>
    <% end %>
  </div>
</div>